certifi==2019.11.28
cffi==1.14.0
cycler==0.10.0
decorator==4.4.2
imageio==2.8.0
kiwisolver==1.1.0
matplotlib==3.2.0rc1
mkl-fft
mkl-random
mkl-service
networkx==2.4
numpy==1.18.1
olefile==0.46
opencv-python==4.2.0.34
Pillow==6.2.2
progress==1.5
progressbar==2.5
pycocotools
pycparser==2.20
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
imgaug==0.4.0
imagecorruptions==1.1.2

# Tinynn requirements
ruamel.yaml>=0.16.12
futures3>=1.0.0; python_version < '3.7'
python-igraph>=0.9.6
tflite==2.3.0

# TFlite inference
tensorflow==2.7.0